@import "tailwindcss";

@layer components {
  .container-me {
    @apply w-[90%] max-w-[1200px] mx-auto;
  }
}
html{
  scroll-behavior: smooth;
}
*{
  font-family: 'Red Hat Display';
}

body {
  background-color: #F4F3F9;
  overflow-x: hidden;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #dcdcdc; */

  display: flex;
  justify-content: center;
  align-items: center;
}


.swiper-pagination-bullet {
  background-color: transparent !important;
  border: 1px solid #8643DC;
}

.swiper-pagination-bullet-active {
  background-color: #8643DC !important;
  transition: all 0.3s ease !important;
}