@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: "Poppins";
}
body {
  background-color: #c27aff;
}
.my-btn {
  background-color: #28a745 !important;
  color: white !important;
  border-color: #28a745 !important;
  font-size: 15px !important;
  padding: 12px 18px !important;
}
.my-btn:hover {
  background-color: #218837 !important;
}

.sidebar-items {
  @apply px-4 rounded-md py-2 mb-1 text-lg hover:bg-[#8643DC84] hover:text-[#ecefec];
}
.sidebar-items.active {
  @apply px-4 rounded-md py-2 mb-1 text-lg bg-[#8643DC] text-[#ecefec];
}

.scrollbar::-webkit-scrollbar {
  width: 4px;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: #c27aff;
  border-radius: 10px;
}
.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.drawerScrollbar::-webkit-scrollbar {
  width: 0px;
}

.text-area-scroll::-webkit-scrollbar {
  width: 0;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.7px);
  -webkit-backdrop-filter: blur(2.7px);
  border: 1px solid #ffffff4d;
}
.dark-glassmorphism {
  background: #00000093;
  backdrop-filter: blur(3.7px);
  -webkit-backdrop-filter: blur(2.7px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.sideDrawClose {
  transition: all 0.1s ease-out;
  transform: translateX(100%);
}
.sideDrawOpen {
  transform: translateX(0%);
  transition: all 0.1s ease-out;
}

.icon_bg {
  background-image: url("/public/images/bg.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.hidden-scroll::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none; /* Chrome/Safari */
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #dcdcdc; */

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  background-color: transparent !important;
  border: 1px solid #8643dc;
}

.swiper-pagination-bullet-active {
  background-color: #8643dc !important;
  transition: all 0.3s ease !important;
}
